/* ---------------------------------------------- /*
 * Footer
/* ---------------------------------------------- */

#footer {
	background: #222;
	text-align: center;
	padding: 40px 0;
	min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
	color: #FFF;
}

.copyright {
	margin: 0;
}

.copyright a{
    border-bottom: 1px dotted #fff;
}

#footer span{
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: #ff5252;
}

.social-links {
	list-style: none;
	padding: 0;
	margin: 0 0 0px;
}

.social-links li {
	display: inline-block;
	margin: 5px;
}

.social-links a {
	width: 52px;
	height: 52px;
	display: block;
	line-height: 51px;
	font-size: 36px;
	text-align: center;
	color: #2B6991;
	text-decoration: none;
	border-radius: 4px;
	transition: transform cubic-bezier(0.68, -0.55, 0.27, 1.55) .4s;
	-webkit-transition: transform cubic-bezier(0.68, -0.55, 0.27, 1.55) .4s;
}

.social-links a:hover {
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	background: #f5f5f5;
	text-decoration: none;
	color: initial;
}

.social-links .fa-twitter:hover { color: #1DA1F2; }
.social-links .fa-facebook:hover { color: #3b5998; }
.social-links .fa-linkedin:hover { color: #0077B5; }
.social-links .fa-dribbble:hover { color: #ea4c89; }
.social-links .fa-github:hover { color: #333; }
.social-links .fa-apple:hover { color: #000; }

.social-links .fa-phone:hover { color: #19a974; }
.social-links .fa-envelope:hover { color: #ff6300; }