/* ---------------------------------------------- /*
 * Footer
/* ---------------------------------------------- */

#footer {
	background: #222;
	text-align: center;
	padding: 40px 0;
	color: #FFF;
}

.copyright {
	margin: 0;
}

.copyright a{
    border-bottom: 1px dotted #fff;
}

#footer span{
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: #ff5252;
}

.social-links {
	list-style: none;
	padding: 0;
	margin: 0 0 0px;
}

.social-links li {
	display: inline-block;
	margin: 5px;
}

.social-links a {
	width: 52px;
	height: 52px;
	display: block;
	line-height: 51px;
	font-size: 36px;
	text-align: center;
	color: #439FE0;
}

.social-links a:hover {
	text-decoration: none;
}